body {
  overflow-x: hidden;
  color: #3e4757;
  background-color: #b4c9cf;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #c45533;
  outline: none;
}
.success a,
a:hover,
a:focus,
a:active,
a.active {
  color: #3e4757;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f085";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #c45533;
  color: white;
}
hr.star-primary {
  border-color: #3e4757;
}
hr.star-primary:after {
  background-color: #b4c9cf;
  color: #3e4757;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #c45533;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
  }
  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
.navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar a:focus {
  outline: none;
}
.navbar .navbar-nav {
  letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
  outline: none;
}
.navbar-default,
.navbar-inverse {
  border: none;
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #c45533;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(196, 85, 51, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #c45533;
  background: white;
  border: solid 2px white;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #b4c9cf;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #b4c9cf;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #c45533;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #b4c9cf;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #3e4757;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #333b48;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #3e4757;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #3e4757;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.success .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.success .btn-default:hover,
.success .btn-default:focus,
.success .btn-default:active,
.success .btn-default.active,
.open .dropdown-toggle.success .btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.success .btn-default:active,
.success .btn-default.active,
.open .dropdown-toggle.success .btn-default {
  background-image: none;
}
.success .btn-default.disabled,
.success .btn-default[disabled],
fieldset[disabled] .success .btn-default,
.success .btn-default.disabled:hover,
.success .btn-default[disabled]:hover,
fieldset[disabled] .success .btn-default:hover,
.success .btn-default.disabled:focus,
.success .btn-default[disabled]:focus,
fieldset[disabled] .success .btn-default:focus,
.success .btn-default.disabled:active,
.success .btn-default[disabled]:active,
fieldset[disabled] .success .btn-default:active,
.success .btn-default.disabled.active,
.success .btn-default[disabled].active,
fieldset[disabled] .success .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.success .btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.success .btn-primary {
  color: #ffffff;
  background-color: #3e4757;
  border-color: #333b48;
}
.success .btn-primary:hover,
.success .btn-primary:focus,
.success .btn-primary:active,
.success .btn-primary.active,
.open .dropdown-toggle.success .btn-primary {
  color: #ffffff;
  background-color: #292f39;
  border-color: #1a1e24;
}
.success .btn-primary:active,
.success .btn-primary.active,
.open .dropdown-toggle.success .btn-primary {
  background-image: none;
}
.success .btn-primary.disabled,
.success .btn-primary[disabled],
fieldset[disabled] .success .btn-primary,
.success .btn-primary.disabled:hover,
.success .btn-primary[disabled]:hover,
fieldset[disabled] .success .btn-primary:hover,
.success .btn-primary.disabled:focus,
.success .btn-primary[disabled]:focus,
fieldset[disabled] .success .btn-primary:focus,
.success .btn-primary.disabled:active,
.success .btn-primary[disabled]:active,
fieldset[disabled] .success .btn-primary:active,
.success .btn-primary.disabled.active,
.success .btn-primary[disabled].active,
fieldset[disabled] .success .btn-primary.active {
  background-color: #3e4757;
  border-color: #333b48;
}
.success .btn-primary .badge {
  color: #3e4757;
  background-color: #ffffff;
}
.success .btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.success .btn-warning:hover,
.success .btn-warning:focus,
.success .btn-warning:active,
.success .btn-warning.active,
.open .dropdown-toggle.success .btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.success .btn-warning:active,
.success .btn-warning.active,
.open .dropdown-toggle.success .btn-warning {
  background-image: none;
}
.success .btn-warning.disabled,
.success .btn-warning[disabled],
fieldset[disabled] .success .btn-warning,
.success .btn-warning.disabled:hover,
.success .btn-warning[disabled]:hover,
fieldset[disabled] .success .btn-warning:hover,
.success .btn-warning.disabled:focus,
.success .btn-warning[disabled]:focus,
fieldset[disabled] .success .btn-warning:focus,
.success .btn-warning.disabled:active,
.success .btn-warning[disabled]:active,
fieldset[disabled] .success .btn-warning:active,
.success .btn-warning.disabled.active,
.success .btn-warning[disabled].active,
fieldset[disabled] .success .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.success .btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.success .btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.success .btn-danger:hover,
.success .btn-danger:focus,
.success .btn-danger:active,
.success .btn-danger.active,
.open .dropdown-toggle.success .btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.success .btn-danger:active,
.success .btn-danger.active,
.open .dropdown-toggle.success .btn-danger {
  background-image: none;
}
.success .btn-danger.disabled,
.success .btn-danger[disabled],
fieldset[disabled] .success .btn-danger,
.success .btn-danger.disabled:hover,
.success .btn-danger[disabled]:hover,
fieldset[disabled] .success .btn-danger:hover,
.success .btn-danger.disabled:focus,
.success .btn-danger[disabled]:focus,
fieldset[disabled] .success .btn-danger:focus,
.success .btn-danger.disabled:active,
.success .btn-danger[disabled]:active,
fieldset[disabled] .success .btn-danger:active,
.success .btn-danger.disabled.active,
.success .btn-danger[disabled].active,
fieldset[disabled] .success .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.success .btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.success .btn-success {
  color: #ffffff;
  background-color: #c45533;
  border-color: #b04c2e;
}
.success .btn-success:hover,
.success .btn-success:focus,
.success .btn-success:active,
.success .btn-success.active,
.open .dropdown-toggle.success .btn-success {
  color: #ffffff;
  background-color: #9c4328;
  border-color: #7f3721;
}
.success .btn-success:active,
.success .btn-success.active,
.open .dropdown-toggle.success .btn-success {
  background-image: none;
}
.success .btn-success.disabled,
.success .btn-success[disabled],
fieldset[disabled] .success .btn-success,
.success .btn-success.disabled:hover,
.success .btn-success[disabled]:hover,
fieldset[disabled] .success .btn-success:hover,
.success .btn-success.disabled:focus,
.success .btn-success[disabled]:focus,
fieldset[disabled] .success .btn-success:focus,
.success .btn-success.disabled:active,
.success .btn-success[disabled]:active,
fieldset[disabled] .success .btn-success:active,
.success .btn-success.disabled.active,
.success .btn-success[disabled].active,
fieldset[disabled] .success .btn-success.active {
  background-color: #c45533;
  border-color: #b04c2e;
}
.success .btn-success .badge {
  color: #c45533;
  background-color: #ffffff;
}
.success .btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.success .btn-info:hover,
.success .btn-info:focus,
.success .btn-info:active,
.success .btn-info.active,
.open .dropdown-toggle.success .btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.success .btn-info:active,
.success .btn-info.active,
.open .dropdown-toggle.success .btn-info {
  background-image: none;
}
.success .btn-info.disabled,
.success .btn-info[disabled],
fieldset[disabled] .success .btn-info,
.success .btn-info.disabled:hover,
.success .btn-info[disabled]:hover,
fieldset[disabled] .success .btn-info:hover,
.success .btn-info.disabled:focus,
.success .btn-info[disabled]:focus,
fieldset[disabled] .success .btn-info:focus,
.success .btn-info.disabled:active,
.success .btn-info[disabled]:active,
fieldset[disabled] .success .btn-info:active,
.success .btn-info.disabled.active,
.success .btn-info[disabled].active,
fieldset[disabled] .success .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.success .btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.navbar-default {
  background-color: #2b2b33;
  border-color: #1c1c21;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #3e4757;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #cccccc;
  background-color: #1c1c21;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #1b1b20;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #1c1c21;
  color: #cccccc;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #cccccc;
}
