//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Grays
// -------------------------

@gray-darker:            #2b2b33; // #222 navbar
@gray-dark:              #000000;   // #333 font1
@gray:                   #9099A2; // #555 background2
@gray-light:             #000000;   // #999 font2?
@gray-lighter:           #D5D5D5; // #eee  background1

@mid-gray:               #9099A2;
@dark-blue:              #6D7993;
@dusty-purple:           #96858f;

// Brand colors
// -------------------------

@brand-primary:         #000000;
@brand-primary-a:       @dark-blue;
@brand-success:         lighten(@mid-gray, 10%);
@brand-success-text:    #000000;
@brand-success-a:       darken(@dusty-purple, 25%);
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-info:            #5bc0de;

// Scaffolding
// -------------------------

@body-bg:               @gray-lighter;
@text-color:            @gray-dark;

// Navbar
// -------------------------

// Basics of a navbar
@navbar-height:                    50px;
@navbar-default-color:             @brand-primary;
@navbar-default-bg:                @gray-darker;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #ccc;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #ccc;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-link-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #ccc;
@navbar-default-toggle-border-color:       #ddd;
